:root, body {
  --source-code-font-family:var(--mono)!important;
  --source-code-font-size:12px!important;
  --monospace-font-family:var(--mono)!important;
  --monospace-font-size:12px!important;
  --default-font-family:var(--sans), sans-serif!important;
  --default-font-size:12px!important;
}

button,
input,
select,
.undisplayable-text,
.expandable-inline-button {
  font-family:var(--sans)!important;
}